body {
    font-family: Arial, sans-serif;
}

header, main {
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #333;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #007BFF; /* 青色背景 */
    color: white; /* 白色字体 */
    padding: 20px;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav ul li a {
    text-decoration: none;
    color: white; /* 白色字体 */
    display: block;
    padding: 10px 0;
}

aside nav ul li a:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景颜色 */
    padding: 10px;
    border-radius: 5px;
    margin: -10px 0; /* 调整边距以匹配padding的增加 */
}

main {
    margin-left: 220px;
}

section {
    margin-bottom: 20px;
}
